[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
pydantic = {extras = ["email"], version = "*"}
pytest = "*"
python-jose = {extras = ["cryptography"], version = "*"}
passlib = {extras = ["bcrypt"], version = "*"}
alembic = "*"
psycopg2-binary = "*"
python-multipart = "*"
requests = "*"

[dev-packages]
flake8 = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
